.main-content {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* column-gap: 1em;
  row-gap: 1em;*/
  gap: 1em;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
